@page "/invoiceline"
@using Dapper.CRUD.Data.Models
@using Dapper.CRUD.Data.DAL

<h3>Invoice Line</h3>

<SfGrid TValue="InvoiceLine" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
    <SfDataManager AdaptorInstance="typeof(InvoiceLineDataAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(InvoiceLine.InvoiceLineId)" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridColumn Field="@nameof(InvoiceLine.InvoiceId)" Width="100"></GridColumn>
        <GridColumn Field="@nameof(InvoiceLine.TrackId)" Width="100"></GridColumn>
        <GridColumn Field="@nameof(InvoiceLine.UnitPrice)" Width="100"></GridColumn>
        <GridColumn Field="@nameof(InvoiceLine.Quantity)" Width="100"></GridColumn>
    </GridColumns>
</SfGrid>

@code {

}
