@page "/track"
@using Dapper.CRUD.Data.Models
@using Dapper.CRUD.Data.DAL

<h3>Track</h3>

<SfGrid TValue="Track" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
    <SfDataManager AdaptorInstance="typeof(TrackDataAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(Track.TrackId)" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridColumn Field="@nameof(Track.Name)" Width="100"></GridColumn>
        <GridForeignColumn Field=@nameof(Track.AlbumId) HeaderText="Album Name" ForeignKeyField="AlbumId" ForeignKeyValue="Title"
                           ForeignDataSource="@albumList" Width="150"></GridForeignColumn>
        <GridForeignColumn Field=@nameof(Track.MediaTypeId) HeaderText="Media Name" ForeignKeyField="MediaTypeId" ForeignKeyValue="Name"
                           ForeignDataSource="@mediatypeList" Width="150"></GridForeignColumn>
        <GridForeignColumn Field=@nameof(Track.GenreId) HeaderText="Genre Name" ForeignKeyField="GenreId" ForeignKeyValue="Name"
                           ForeignDataSource="@genreList" Width="150"></GridForeignColumn>

        <GridColumn Field="@nameof(Track.Composer)" Width="100"></GridColumn>
        <GridColumn Field="@nameof(Track.Bytes)" Width="100"></GridColumn>
        <GridColumn Field="@nameof(Track.UnitPrice)" Width="100"></GridColumn>
        <GridForeignColumn Field=@nameof(Track.PlayListTrackId) HeaderText="PlayList Name" ForeignKeyField="PlaylistId" ForeignKeyValue="Name"
                           ForeignDataSource="@playLists" Width="150"></GridForeignColumn>
    </GridColumns>
</SfGrid>

@code {

}
